<form class="" action="add" method="POST">
<p>Título</p>
<input type="text" name="titulo" value="">
<p>Texto</p>
<textarea name="texto" rows="8" cols="80"></textarea><p></p>
<input type="submit" name="" value="Cadastrar Postagens">
</form>
